
body {
    /*background-color: rgb(74, 185, 83); */
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}


#Image_profil {
    width: 50px;
    border-radius: 50%;
    
}

#imageandh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(155, 238, 1);
    padding: 5px 5px;
    border-radius: 50px;
    width: fit-content;
    margin:20px auto;
    animation: floating 2s ease-in-out infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateZ(40px);
    }
}


#text1 {
    display: flex;
    background-color: rgb(244, 255, 223);
    margin: 50px 60px;
    width: 500px;
    height: 250px;
    margin: 45px auto 0 auto;
    border-radius: 50px;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

#image {
    width: 200px;
    border-radius: 50px;
    margin: 25px 20px;
}
/* #imageandh1:hover {
    background-color: red;
} */

#projecth2 {
    margin: 0 0 5px 0;
    font-size: 18px;

}

#projectp {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

#FFvert {
    width: 200px;
    border-radius: 20px;
    flex-shrink: 0;
}

#github {
    display: flex;
    background-color: white;
    width: 500px;
    height: 400px;
    margin: 10px auto 0 auto;
    border-radius: 50px;
}

#github_profile {
    border-radius: 50px;
    margin: auto 20px;
    width: 1000px;
    height: 360px;
}

#github_name {
    background-color: white;
    height: 90px;
    width: 500px;
    margin: 90px auto 0 auto;
    border-radius: 50px;
    text-align: center;
    display: flex;
}

#account {
    text-align: center;
    margin: auto auto;
    animation: text 3s ease-in-out infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes text {

    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }

}