
body {
    /*background-color: rgb(74, 185, 83); */
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}


#Image_profil {
    width: 50px;
    border-radius: 50%;
    
}

#imageandh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(155, 238, 1);
    padding: 5px 5px;
    border-radius: 50px;
    width: fit-content;
    margin:20px auto;
    animation: floating 2s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateZ(40px);
    }
}


#text1 {
    background-color: rgb(244, 255, 223);
    margin: 50px 60px;
    width: 500px;
    height: 250px;
    margin: 30px auto;
    border-radius: 50px;
}

#image {
    width: 200px;
    border-radius: 50px;
}
/* #imageandh1:hover {
    background-color: red;
} */
